[submodule "src/sps_eventbuilder"]
	path = src/sps_eventbuilder
	url = https://github.com/alconley/sps_eventbuilder
[submodule "src/cebra_sps_eventbuilder"]
	path = src/cebra_sps_eventbuilder
	url = https://github.com/alconley/cebra_sps_eventbuilder
[submodule "src/cebra_eventbuilder"]
	path = src/cebra_eventbuilder
	url = https://github.com/alconley/cebra_eventbuilder
[submodule "src/sps_plot"]
	path = src/sps_plot
	url = https://github.com/alconley/sps_plot
